{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "useESModules": true
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
