# os x
.DS_Store

# App artifacts
/_build
/db
/deps
/*.ez
__pycache__

# Generated on crash by the VM
erl_crash.dump

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs

# frontend
/node_modules
/priv/static
assets/static/images

# naif files
/priv/kernels/**/*.bpc
/priv/kernels/**/*.bsp
/priv/kernels/**/*.cmt
/priv/kernels/**/*.ker
/priv/kernels/**/*.lbl
/priv/kernels/**/*.tf
/priv/kernels/**/*.tls
/priv/kernels/**/*.tpc
/priv/kernels/**/*.txt
