#myCanvas {
  display: block;
  margin: 0 auto;
}

.ui.table.bodies_table {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  margin: 1em;

  color: white;
  background-color: rgba(0, 0, 0, 0.75);

  thead th {
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}


.ui.header {
  &.dividing {
    padding: 1em 0;
  }

  > .image:not(.icon),
  > img {
    width: 15em;
  }
}
